/*My customized code*/
body {
    color: gray;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row .content {
    height: 1500px
}
    
/* Set gray background color and 100% height */
.sidenav {
    height: 100%;
}

.sidenav .nav-pills .active a{
    background-color: #d3d3d3;
    background-color: #F5F5F5;
}

.sidenav .nav-pills a{
    color: gray;
}

.shade {
    background-color: orange;
    padding: 10px;
}

.navbar-header a {
    color: #ee7203;
}

.navbar-collapse a {
    color: #ee7203;
}

.navbar-nav .active a {
    color: purple;
}

.footer-wrap {    
    color: #f3ca49;
    margin-top: 5px;
    padding: 5px;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: #ee7203;
}

.post-content {
    left:7%;    
    position: absolute;
    top:93%;
}

.img-thumbnail{
    position:relative;
}

.headline {
    font-weight: 900;
}

.email {
    font-weight: 900;
    float: right;
}

.id {
    font-weight: 900;
    float: right;    
}
